version: '3.8'

services:
  backend:
    build:
      context: ./apps/backend
      target: dev
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      - PORT=5000
      - MONGODB_URI=mongodb://mongo:27017/attendflow
    volumes:
      - ./apps/backend:/app
      - /app/node_modules
    depends_on:
      - mongo
    restart: always

  frontend:
    build:
      context: ./apps/frontend
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./apps/frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
